/*default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Wallpoet', sans-serif;
}

html{
    font-size: 62.5%;
}
/*End of default styles */

/*container*/
.container{
    width: 100%;
    height: 100%;
    background: linear-gradient(#232932, #2c3138, #232932 );
}

/*landing */
.landing{
    width: 100%;
    height: 100%;
}

.section-bg-heading{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30rem;
}
.dev-img-wrapper{
    width: 60rem;
    height: 60rem;
}

.dev-img-wrapper img{
    width: 100%;
    height: 100%;
}
/*End of landing */
/*End of container*/

