/*default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: cursive;
}

html{
    font-size: 62.5%;
}

/*End of default styles */

/* Container*/
.container{
    width:100%;
    height:100%;
    background: linear-gradient(#232932,#2c3138,#232932);
} 
/*navigation*/
.navigation{
    display: none;
}
/*End of navigation*/


/*Landing*/
.landing{
    width:100%;
    height:100vh;
    position: relative;
}

.section-bg-heading{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: ui-sans-serif;
    font-size: 30rem;
    width: 100%;
    text-align: center;
    color: #31363d;
    opacity:0.5;
}

.logo{
    position: absolute;
    top: 4rem;
    left: 5rem;
}

.logo span:nth-child(1){
    color: #fff;
}

.logo span:nth-child(2){
    font-size: 5rem;
    font-family: ui-sans-serif;
    font-weight: bold;
    color:#29a857;
}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.section-border{
    width:.3rem;
    height:55rem;
    background-color: #bbb;
    margin-right: 10rem;
}

.section-border::before{
    content: "";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid#bbb;
    background-color: #1d222a;
    border-radius: 50%;
    position: absolute;
    left: -1.65rem;
    top: -3rem;
}

.section-border::after{
    content: "";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid#bbb;
    background-color: #1d222a;
    border-radius: 50%;
    position: absolute;
    left: -1.65rem;
    bottom: 3rem;
}

.developer-info{
    margin-right: 15rem;

}

.greeting{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
}
.greeting span{
    color: #29a857;
}

.name{
    font-size: 6rem;
    width: 60rem;
    margin: 4rem 0 2rem 0;
    color: #fff;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
}
.name span{
    color: #29a857;
}

.prof{
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2rem;
    margin-bottom: 6rem;
}

.prof span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1.2rem;
}

.about{
    width: 60rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    line-height: 1;
    color: #a9abae;
    margin-bottom: 5rem;
}

.social-media{
    margin-bottom: 5rem;
}

.social-media i{
    font-size: 2.5rem;
    color: #fff;
    margin-right: 2rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.dev-img-wrapper{
    width:60rem;
    height:60rem;
    background-color: #29a857;
    border-radius: 50%;
    padding: 11rem 10rem 109px 10rem;
    box-shadow: 0 1rem 1 rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dev-img-wrapper img{
    width:100%;
    height:100%;
}

.dev-work{
    width: 25rem;
    height: 9rem;
    background-color: #1d222a;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    border: 0.2rem solid #bbb;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    position: absolute;
}
/*End of Landing*/
/* End of Container*/