/*default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: cursive;
}

html{
    font-size: 62.5%;
}

/*End of default styles */

/* Container*/
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#232932,#2c3138,#232932);
} 

/* End of Container*/